<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
  <button
    pButton
    (click)="mostrarNombre()"
    icon="pi pi-bell"
    iconPos="right"
    type="button"
    label="Cambiar Nombre"
    class="p-button-help"
  ></button>
<hr>

<p-card [header]="nombre|titlecase"
subheader="Esto es un subheader">
<h2>Simple Card</h2>
    

<p>*Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur alias nulla voluptate ut qui doloremque hic commodi obcaecati velit nobis dolores odio, magni ducimus quod reiciendis eligendi cupiditate corrupti sed?

</p>
    
</p-card>



</div> -->
<app-menu>dd</app-menu>
<router-outlet></router-outlet>